# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

config SHIELD_URCHIN_TP_LEFT
    def_bool $(shields_list_contains,urchin_tp_left)

config SHIELD_URCHIN_TP_RIGHT
    def_bool $(shields_list_contains,urchin_tp_right)
